<p id="notice"><%= notice %></p>

<% @links.each do |link| %>
  <div class="col">
    <h2><%= link_to link.title, link %></h2>
    <p>Submitted <%= time_ago_in_words(link.created_at) %> ago by <%= link.user.email %></p>

    <%= link_to 'Visit url', link.url, class: "btn btn-primary btn-sm" %>
    <% if link.user == current_user %>
      <%= link_to 'Edit', edit_link_path(link), class: "btn btn-outline-primary btn-sm" %>
      <%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %>
    <% end %>

    <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
      Likes: <%= link.get_upvotes.size %>
    <% end %>
    <%= link_to dislike_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
      Dislikes: <%= link.get_downvotes.size %>
    <% end %>

  </div>
  <hr>
<% end %>
